<section>
  <div class="height25vh">
    <img class="mnm-logo-connexion" src="./assets/mnm-logo.png" alt="mnm-logo"/>
  </div>
  <form [formGroup]="logForm" (ngSubmit)="validForm()">
    <div><input type="text" placeholder="Email" formControlName="email"></div>
    <div><input class="m3" type="password" placeholder="Mot De Passe" formControlName="password"></div>
    <div><input class="submit" type="submit" value="S'inscrire"></div>
  </form>

  <div class="link m3">
    <a routerLink="/connection">Vous avez déjà un compte ? </a><br>
  </div>
  <div>
    <img class="car-connexion height30vh" src="./assets/car.png" alt="car"/>
  </div>
</section>
