<section class="">
  <!--
   (click)="goToMessage(id)"
  -->
  <div class="flex padding w100 line">
    <div class="message">
      De : Début du message
    </div>
    <div class="w5">
      <div class="rond"></div>
    </div>
    <div class="w5">
      <img src="../../assets/poubelle.jpg" alt="">
    </div>
  </div>
  <div class="flex padding w100 line">
    <div class="message">
      De : Début du message
    </div>
    <div class="w5">
      <div class="rond"></div>
    </div>
    <div class="w5">
      <img src="../../assets/poubelle.jpg" alt="">
    </div>
  </div>
</section>
