.header-container{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}
.header-sub-container{
    position:fixed;
    width:100%;
}
.header-container a{
    text-decoration: none;
}
.header-up-container{
    height: 50px;
    display: flex;
    background-color: #355922;
}
.mnm-logo-container{
    margin:auto;
    width:20%;
}
.mnm-logo-img{
    width:70px;
}
.menu-title{
    width:45%;
    color:#FF6C07;
    margin:auto;
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}
.menu-bar-container{
    width:20%;
    text-align: right;
    padding:8px 8px;
}
.menu-bar-img{
    width:40px;
    margin:auto;
    cursor:pointer;
}
.menu-down-container{
    background-color: #355922;
    width:60%;
    margin-left: 40%;
    border-bottom:2px solid #355922;
}
.menu-down-container div{
    color:#FF6C07;
    font-weight: bold;
    text-align: right;
    padding:13px;
}
.menu-down-container hr{
    width:90%;
    color:white;
}
.first-hr{
    margin-top: 0;
}
