.add-travel-container{
    width:80%;
    margin:auto;
}
/* .form-container{
    margin:auto;
    width:50%;
} */
h1{
    text-align: center;
    margin-bottom: 30px;
}
.input-container{
    margin:30px auto;
}
label{
    padding-bottom: 40px;
}
input{
    line-height: 2em;
    width:100%;
}
.alertDiv{
    background-color: rgb(251, 125, 146);
    display: none;
    padding: 20px;
    text-align: center;
}
.submit-btn{
    text-align: center;
    cursor: pointer;
}
.submit{
    background-color: #FF6C07;
    padding:10px;
    border-radius: 30px;
    color:white;
    width: 80%;
    margin:30px auto;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
