<div class="add-travel-container">
    <div class="form-container">
        <form [formGroup]="addTravelForm" (ngSubmit)="validForm()">
            <h1>Proposer un trajet</h1>
            <div class="input-container">
                <label for="cityStart">Départ</label><br>
                <div><input required type="text" placeholder="" formControlName="cityStart"></div>
            </div>
            <div class="input-container">
                <label for="cityArrival">Arrivée</label><br>
                <div><input required type="text" placeholder="" formControlName="cityArrival"></div>
            </div>
            <div class="input-container">
                <label for="dateStart">Date et heure du départ</label><br>
                <div><input required type="datetime-local" placeholder="" formControlName="dateStart"></div>
            </div>
            <div class="input-container">
                <label for="carId">Choisissez une voiture</label><br>
                <select formControlName="carId" required>
                    <option *ngFor="let car of cars" [ngValue]="car">{{car.model}}</option>
                </select><br>
            </div>
            <div class="input-container">
                <label>Véhicule climatisé</label><br>
                <div>
                    <input type="radio" id="climYes" value="true" formControlName="airconditionning">
                    <label for="climYes">Oui</label>
                    <input type="radio" id="climNo" value="false" formControlName="airconditionning">
                    <label for="climNo">Non</label>
                </div>
            </div>
            <div class="input-container">
                <label>Véhicule fumeur</label><br>
                <div>
                    <input type="radio" id="smokeYes" value="true" formControlName="smoker">
                    <label for="smokeYes">Oui</label>
                </div>
                <div>
                    <input type="radio" id="smokeNo" value="false" formControlName="smoker">
                    <label for="smokeNo">Non</label>
                </div>
            </div>
            <div class="input-container">
                <label for="price">Prix</label><br>
                <div><input required type="number" placeholder="" formControlName="price"></div>
            </div>
            <div #alertDiv class="alertDiv">Merci de remplir tous les champs du formulaire</div>
            <div class="input-container">
                <div class="submit-btn"><input class="submit" type="submit" value="Ajouter le trajet"></div>
            </div>
        </form>
    </div>
</div>
