<section id="adminmenu">
  <nav>
    <ul>
      <li class="back">
        <a (click)="logout()"
          ><img src="./assets/admin/home.png" /> Retour au site</a
        >
      </li>
      <li>
        <a routerLink="/admin/users"
          ><img src="./assets/admin/docs.png" /> Utilisateurs</a
        >
      </li>
      <li>
        <a routerLink="/admin/cars"
          ><img src="./assets/admin/docs.png" /> Véhicules</a
        >
      </li>
      <li>
        <a routerLink="/admin/travels"
          ><img src="./assets/admin/docs.png" /> Trajets</a
        >
      </li>
      <li>
        <a routerLink="/"
          ><img src="./assets/admin/reports.png" /> Signalements</a
        >
      </li>
      <li>
        <a routerLink="/"
          ><img src="./assets/admin/stats.png" /> Statistiques</a
        >
      </li>
    </ul>
  </nav>
</section>
