#adminmenu {
  background-color: #c4c4c4;
}

ul {
  list-style-type: none;
  line-height: 2.6rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  display: block;
}

img {
  height: 1.6rem;
  margin-right: 10px;
}

.back {
  margin-bottom: 30px;
}
