<div class="section">
  <!--
  <img class="img" src="../../assets/img/logo.PNG" alt="">
  -->
  <div>
    <ul>
      <li *ngFor="let message of ret">
        <div class="mess">{{message.message.message}}</div>
      </li>
    </ul>
  </div>
  <div>
    <form [formGroup]="logForm" (ngSubmit)="validForm()">
      <div>CONNEXION</div>
      <div><input type="text" placeholder="Email" formControlName="email"></div>
      <div><input type="text" placeholder="Password" formControlName="password"></div>
      <div><input class="submit" type="submit" value="Se connecter"></div>
    </form>
  </div>
  <div>
    <a routerLink="/inscription">Inscription</a>
  </div>
<!-- [(ngModel)]="email" [(ngModel)]="password"  -->
</div>
