/* You can add global styles to this file, and also import other style files */
body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bold{
  font-weight: bold;
}

.ret{
  padding-top: 20px;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}

.ret:hover {
  color: blue;
}
