<div class="box">
  <div class="box-entete">
    <div class="photoProfil">
      <img class="imgProfil" src="../../assets/profil_vide.jpg">
    </div>
    <div class="identite">
      <div class="bold capitalize"><span class="capitalize">{{user.firstName}}</span> <span class="capitalize">
          {{user.lastName}}</span></div>
      <div class="bold capitalize">{{user.userName}}</div>
      <div>{{address.number}} <span class="lowercase">{{address.lineA}}</span></div>
      <div>{{address.zipCode}} <span class="capitalize">{{address.city}}</span></div>
    </div>
  </div>
  <div class="note mt1">
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray"> Note conducteur</span>
    </div>
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray pl1"> Note passager</span>
    </div>
  </div>
  <div class="divBtn mt2">
    <div class="btn" (click)="goToUpdate()">Modifier mon profile</div>
    <div class="btn mt1 orange" (click)="goToAddCar()">Ajouter un véhicule</div>
    <div class="cursor mt1" (click)="delete()">Supprimer mon compte</div>
  </div>

  <!-- if vehicules -->
  <div class="mesVehicules" style="margin-top: 30px">
    <div class="titre bold">Mes véhicules</div>
    <div class="flex en-tete bold border border-top">
      <div class="width25">Marque</div>
      <div class="width25">Couleur</div>
      <div class="width25">Place(s)</div>
      <div class="width25"></div>
    </div>
    <div class="divRow border" *ngFor="let car of cars">
      <div class="width25">{{car.model}}</div>
      <div class="width25">{{car.color}}</div>
      <div class="width25">{{car.placeQuantity}}</div>
      <div class="width25 troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre bold mt1">Réservation</div>
    <div class="flex en-tete bold border border-top">
      <div class="width22">Date</div>
      <div class="width22">Heure</div>
      <div class="width22">Départ</div>
      <div class="width22">Arrivée</div>
      <div class="width12"></div>
    </div>
    <div *ngFor="let myBooking of myBookings">
      <div class="divRow border">
        <div class="width22">{{myBooking.dateStart | date: 'M/d/yy' }}</div>
        <div class="width22">{{myBooking.dateStart | date: 'H:mm a' }}</div>
        <div class="width22">{{myBooking.cityStart}}</div>
        <div class="width22">{{myBooking.cityArrival}}</div>
        <div class="width12 troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
      </div>
      <div class="sous-container border">
        <div class="flex">
          <div class="width50">
            Conducteur :
          </div>
          <div class="width100">
            <div class="flex">
              <div class="width50">{{myBooking.driver.userName}}</div>
              <div class="width50 text-right"><img class="imgTroisPoint" src="../../assets/message.png"></div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="width50">
            Passager(s) :
          </div>
          <div class="width100">
            <div class="flex" *ngFor="let passenger of myBooking.passengers">
              <div class="width50">{{passenger.userName}}</div>
              <div class="width50 text-right"><img class="imgTroisPoint" src="../../assets/message.png"></div>
            </div>
          </div>
        </div>
        <div class="flex">
          <div class="width50"></div>
          <div class="width100 flex">
            <div class="width75">Vous : </div>
            <div class="width25 btnDelete orange">Annuler</div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre bold">Mes trajets proposés(conducteur)</div>
    <div class="flex en-tete bold border border-top">
      <div class="width22">Date</div>
      <div class="width22">Heure</div>
      <div class="width22">Départ</div>
      <div class="width22">Arrivée</div>
      <div class="width12"></div>
    </div>

    <div *ngFor="let myTravel of myTravels">
      <div class="divRow border">
        <div class="width22">{{myTravel.dateStart | date: 'M/d/yy' }}</div>
        <div class="width22">{{myTravel.dateStart | date: 'H:mm a' }}</div>
        <div class="width22">{{myTravel.cityStart}}</div>
        <div class="width22">{{myTravel.cityArrival}}</div>
        <div class="width12 troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
      </div>
      <div class="sous-container border">
        <div class="flex">
          <div class="width50">
            Passager(s) :
          </div>
          <div class="width100">
            <div class="flex" *ngFor="let passenger of myTravel.passengers">
              <div class="width50">{{passenger.userName}}</div>
              <div class="width50 text-right"><img class="imgTroisPoint" src="../../assets/message.png"></div>
            </div>
          </div>
        </div>
        <div class="flex text-right">
          <div class="width50"></div>
          <div class="width100 flex">
            <div class="width75"></div>
            <div class="width25 btnDelete orange">Annuler</div>
          </div>
        </div>
      </div>
    </div>
