<div class="box">
  <div class="box-entete">
    <div class="photoProfil">
      <img class="imgProfil" src="../../assets/profil_vide.jpg">
    </div>
    <div class="identite">

      <div class="bold capitalize"><span class="capitalize">{{user.firstName}}</span> <span class="capitalize"> {{user.lastName}}</span></div>
      <div class="bold capitalize">{{user.userName}}</div>
      <div>{{address.number}} <span class="lowercase">{{address.lineA}}</span></div>
      <div>{{address.zipCode}} <span class="capitalize">{{address.city}}</span></div>
    </div>
  </div>
  <div class="note mt1">
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray"> Note conducteur</span>
    </div>
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray pl1"> Note passager</span>
    </div>
  </div>
  <div class="divBtn mt1">
    <div class="btn" (click)="goToUpdate()">Modifier mon profile</div>
    <div class="btn mt1 orange"><a routerLink="/addCar">Ajouter un véhicule</a></div>
    <div class="cursor" (click)="delete()">Supprimer mon compte</div>
    <!-- L’ajout d’un véhicule à son profil permet de renseigner la marque, le modèle, la couleur
    ainsi qu’une photo de celui-ci dans le but de l’identifier plus facilement au point de
    rendez-vous. Le nombre de places disponibles est aussi spécifié. -->

  </div>

  <!-- if vehicules -->
  <div class="mesVehicules" style="margin-top: 150px">
    <div class="titre">Mes véhicules</div>
    <div class="divRow" *ngFor="let car of cars">
      <div class="">{{car.model}}</div>
      <div class="">{{car.color}}</div>
      <div class="">{{car.placeQuantity}}</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre">Réservation</div>
    <div class="divRow" *ngFor="let myTravel of myTravels">
      <div class="model">{{myTravel.dateStart | date: 'M/d/yy' }}</div>
      <div class="color">{{myTravel.dateStart | date: 'h:mm a' }}</div>
      <div class="colorplace">Départ -></div>
      <div class="colorplace">Arrivé</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre">Mes trajets proposés(conducteur)</div>
    <div class="divRow" *ngFor="let myTravel of myTravels">
      <div class="model">{{myTravel.dateStart | date: 'M/d/yy' }}</div>
      <div class="color">{{myTravel.dateStart | date: 'M/d/yy' }}</div>
      <div class="colorplace">Départ -></div>
      <div class="colorplace">Arrivé</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>
</div>
