<div class="box">
  <div class="box-entete">
    <div class="photoProfil">
      <img class="imgProfil" src="../../assets/profil_vide.jpg">
    </div>
    <div class="identite">
      <div class="bold capitalize">nom <span class="capitalize">prenom</span></div>
      <div class="bold capitalize">pseudo</div>
      <div>30 <span class="lowercase">Rue De Lorem Ipsum</span></div>
      <div>52 000<span class="capitalize"> Sitamet</span></div>
    </div>
  </div>
  <div class="note mt1">
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray"> Note conducteur</span>
    </div>
    <div class="rating">
      <a href="#5" title="Donner 5 étoiles">☆</a>
      <a href="#4" title="Donner 4 étoiles">☆</a>
      <a href="#3" title="Donner 3 étoiles">☆</a>
      <a href="#2" title="Donner 2 étoiles">☆</a>
      <a href="#1" title="Donner 1 étoile">☆</a>
      <span class="gray pl1"> Note passager</span>
    </div>
  </div>
  <div class="divBtn mt1">
    <div class="btn">Modifier mon profil</div>
    <div class="btn mt1 orange">Ajouter un véhicule</div>
    <!-- L’ajout d’un véhicule à son profil permet de renseigner la marque, le modèle, la couleur
    ainsi qu’une photo de celui-ci dans le but de l’identifier plus facilement au point de
    rendez-vous. Le nombre de places disponibles est aussi spécifié. -->

  </div>

  <!-- if vehicules -->
  <div class="mesVehicules" style="margin-top: 150px">
    <div class="titre">Mes véhicules</div>
    <div class="divRow">
      <div class="">model</div>
      <div class="">couleur</div>
      <div class="">4 places</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre">Réservation</div>
    <div class="divRow">
      <div class="model">date</div>
      <div class="color">heure</div>
      <div class="colorplace">Départ -></div>
      <div class="colorplace">Arrivé</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>


  <div class="mesVehicules" style="margin-top: 50px">
    <div class="titre">Mes trajets proposés(conducteur)</div>
    <div class="divRow">
      <div class="model">date</div>
      <div class="color">heure</div>
      <div class="colorplace">Départ -></div>
      <div class="colorplace">Arrivé</div>
      <div class="troisPoint"><img class="imgTroisPoint" src="../../assets/troisPoint.png"></div>
    </div>
  </div>
</div>
