<div class="accueil-container">
    <div id="btn-container">
        <a href="#"><div class="orange-btn">Chercher un trajet</div></a>
        <a href="#"><div class="orange-btn">Proposer un trajet</div></a>
    </div>
    <div id="travel-list">
        <div>
            <p class="travel-list-title">Derniers trajets</p>
        </div>
        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>


        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>        <hr class="travel-separator">
        <a href="#">
            <div class="one-travel-container">
                <div class="profil-pic-container">
                    <img class="profil-pic" src="./assets/profil_vide.jpg" alt="profil-pic">
                </div>
                <div class="travel-infos">
                    <p class="start-arrival"><!--{{travel.latStart}}--> Sarrebourg - MNS</p>
                    <p class="user-name">Paolo</p>
                    <p class="more-info">Reste 3 places</p>
                </div>
                <div class="price">3 €</div>
            </div>
        </a>



    </div>
</div>
